{% extends "base.html" %}
{% block page_content %}

<div vocab="http://schema.org/" typeof="MusicGroup">

    <h1> Artists </h1>

    {% if artistlist %}
        {% for artist in artistlist %}
            <li> <span property="name">{{ artist.name }}</span>: <span property="knowsAbout">{{ artist.information }}</span>  </li>
        {% endfor %}

    {% else %}
        <p> No artist information available. You can add it from admin. </p>

    {% endif %}

</div>

{% endblock %}
