{% extends "base.html" %}
{% block page_content %}

<div vocab="http://schema.org/" typeof="MusicPlaylist">

    <p>Songs of <span property="name"> {{ playlist }} </span> </p>

    {% if song_list %}
        <div property="track" typeof="MusicRecording">
            {% for song in song_list %}
                <li> <span property="name"> {{ song.name }} </span> </li>
            {% endfor %}
        </div>
    {% else %}
        <p> There are no songs. You you can add them from admin or logging. </p>

    {% endif %}

</div>

{% endblock %}