{% extends "base.html" %}
{% load static %}"

{% block page_content %}
    <div class="group">
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-social-icon btn-google-plus">
        <i class="fa fa-google-plus"></i></a>
    <a href="{% url 'logout' %}"></a> 
    </div>
{% endblock %}
<!--

On line 10, we include our project image. Inside the src attribute, we add the
code {% static project.preview_image %}. This tells Django to look inside the
static files to find a file matching project.preview_image value.


On line 14, we are referring to the link of our project_detail page. Accessing URLs
in Django is similar to accessing static files. In this case, we are accessing a
URL path named project_detail, which takes integer arguments corresponding to the
pk number of the project.

-->
